version: '3.9'

services:
  postgres:
    image: postgres:17
    container_name: postgres-container
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: db_investments_tracker_local
    ports:
      - "3307:5432"
